@import 'base.css';

video {
    position: absolute;
    top: -151px;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
}
/***********모달창************/
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 11111; /* Sit on top */
    left: 0;
    top: -100px;
    width: 100%; /* Full width */
    height: 111%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
    overflow: hidden;
}
/* Modal Content/Box */
.modal-content {
    background-color: #f3b47f;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    width: 478px; /* Could be more or less, depending on screen size */        
    height: 594px;
    position: relative;                  
}
/* The Close Button */
.close {
    color: #fff;
    float: right;
    font-size: 28px;
    font-weight: 100;
    position: absolute;
    bottom: 25px;
    left: 35px;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

header{color:#fff; height: 1130px;}
.top_menu, .main_txt{padding:50px; position: relative;}
.wrap .top_menu .fas{margin-right:30px; font-size: 20px; cursor: pointer;}
.wrap .top_menu li{float: left; }
.dn_bg {background-color:#222; width:100%; height: 0; position:fixed; top:0; z-index: 1111; width:100%; }
.wrap .top_menu .logo{padding-top:3px; cursor: pointer;}
.wrap .top_menu .logo .logo_txt{font-size: 20px; line-height: 0;-webkit-transition: color .5s, -webkit-transform .5s;
    transition:color .5s, transform .5s;}
.wrap .top_menu .logo .logo_txt:hover{color:#f3b47f;}

.wrap .top_menu .logo .logo_txt .logo_b{font-weight: 900;}
.wrap .top_menu .ham_menu .bars{ margin-right:30px; cursor: pointer;}
.wrap .top_menu .ham_menu .bars .ham{width:25px; height: 2px; background-color:#fff; margin:0 0 7px 0; }
.wrap .main_txt .title{font-size: 60px; font-weight: 600; margin:385px 0 10px 0; letter-spacing: -2px;}
.wrap .main_txt .title .point_txt{color:#f3b47f;}
.wrap .main_txt .sub_title{font-size: 16px; margin-bottom: 40px; letter-spacing: 10px;}
.wrap .main_txt .cont_btn a{
    padding: 12px 20px 12px 20px; 
    font-size: 16px; 
    letter-spacing: 4px; 
    font-weight: 500;
    background-color: #fff; 
    color:#000; 
    -webkit-transition: background-color .5s, -webkit-transform .5s;
    transition: background-color .5s, transform .5s;
}
.wrap .main_txt .cont_btn a:hover{
    background-color: #f3b47f; 
    color:#fff;
}
.sub_menu{
    background-color: #fff; 
    width:300px; 
    height: 100%;
    position: relative; 
    position: fixed; 
    top:0; 
    left: -300px; 
    transform: translate(-300px, -0);
    -webkit-transform: translate(-300px, -0);
    -moz-transform: translate(-300px, -0);
    -o-transform: translate(-300px, -0);
    z-index: 1111;
}
.sub_menu .sub_logo{height:15%;}
.sub_menu .sub_logo img{position: absolute; top:5%; left:50%; transform: translate(-50%, -5%);}
.sub_menu .sub_menu_lists{width: inherit; height: 484.5px; background-color: #eee; }
.sub_menu .sub_menu_lists .sub_menu_list li {font-size: 16px; color:#222; margin:19% 0 0 25%; letter-spacing: 2px; cursor: pointer; display: inline-block;}
.sub_menu .sub_menu_lists .sub_menu_list li:hover{color: #f3b47f;}
/*.sub_menu .sub_menu_lists .sub_menu_list li span{padding-top:10px;}*/
.sub_menu .sub_menu_lists .sub_menu_list li div{display: inline-block; margin-right:10px;}
.sub_menu .sub_menu_lists .sub_menu_list li .menu_icon{width:20px; height: 20px;}
.sub_menu .sub_menu_lists .sub_menu_list li .menu_icon img{width:100%;}
.menu_close{
    position: absolute; 
    top:6.2%; 
    right: -16.5%; 
    transform: translate(-16.5%, -6.2%); 
    -webkit-transform: translate(-16.5%, -6.2%); 
    -moz-transform: translate(-16.5%, -6.2%); 
    -o-transform: translate(-16.5%, -6.2%); 
    cursor: pointer;
}


section{width:100%; height: 969px;}

/********************  about me 영역  *******************/
.about{width: 100%;}
.about .about_txt{width:50%; float: left;}
.about .about_txt ul li img{margin-right:5px;}
.about .keyword{position: absolute; top:0; left: 50%; width:350px; height:500px;  z-index: 1;
    transform: translateX(-50%); 
    -webkit-transform: translateX(-50%); 
    -moz-transform: translateX(-50%); 
    -o-transform: translateX(-50%); }
.about .keyword img{
    position: absolute;
    top:1041px;
    left: 50%;
    transform: translateX(-50%); 
    -webkit-transform: translateX(-50%); 
    -moz-transform: translateX(-50%); 
    -o-transform: translateX(-50%); 
    width:100%;
}
.about .keyword span{
    color:#111;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    top:1093px;
    left: 50%;
    transform: translateX(-50%); 
    -webkit-transform: translateX(-50%); 
    -moz-transform: translateX(-50%); 
    -o-transform: translateX(-50%); 
}
.about .keyword .keword_box{
    position: relative;
    position: absolute;
    top: 1150px;
    left: 50%;
    transform: translateX(-50%); 
    -webkit-transform: translateX(-50%); 
    -moz-transform: translateX(-50%); 
    -o-transform: translateX(-50%); 
    font-size: 20px;
    color:#fff;
    font-weight: 400;
    text-align: center;
    letter-spacing:2px;
    padding:10px 7px;
    width:260px;
    height: 350px;
}
.about .keyword .keword_box li{padding:10px 7px; border-radius: 7px; float: left; display: table-cell; vertical-align: middle; cursor: default;}
.about .keyword .keword_box .box1{width:110px; background-color: #488aff;position: absolute;  top:5%; left: 8%;
    transform: translate(-8%, -5%); 
    -webkit-transform: translate(-8%, -5%); 
    -moz-transform: translate(-8%, -5%); 
    -o-transform: translate(-8%, -5%);}
.about .keyword .keword_box .box2{width:110px; background-color: #32db64; position: absolute;  top:5%; left: 93%;
    transform: translate(-93%, -5%); 
    -webkit-transform: translate(-93%, -5%); 
    -moz-transform: translate(-93%, -5%); 
    -o-transform: translate(-93%, -5%); }
.about .keyword .keword_box .box3{width:130px; background-color: #f53d3d; position: absolute; top:27%; left: 50%;
    transform: translate(-50%, -27%); 
    -webkit-transform: translate(-50%, -27%); 
    -moz-transform: translate(-50%, -27%); 
    -o-transform: translate(-50%, -27%); }
.about .keyword .keword_box .box4{width:250px; background-color: #222; position: absolute; top:49%; left: 50%;
    transform: translate(-50%, -49%); 
    -webkit-transform: translate(-50%, -49%); 
    -moz-transform: translate(-50%, -49%); 
    -o-transform: translate(-50%, -49%); }
.about .keyword .keword_box .box5{width:130px; background-color: #32db64; position: absolute; top:71%; left: 3%;
    transform: translate(-3%, -71%); 
    -webkit-transform: translate(-3%, -71%); 
    -moz-transform: translate(-3%, -71%); 
    -o-transform: translate(-3%, -71%); }
.about .keyword .keword_box .box6{width:110px; background-color: #488aff; position: absolute; top:71%; left: 100%;
    transform: translate(-100%, -71%); 
    -webkit-transform: translate(-100%, -71%); 
    -moz-transform: translate(-100%, -71%); 
    -o-transform: translate(-100%, -71%); }
.about .keyword .keword_box .box7{width:170px; background-color: #488aff; position: absolute; top:93%; left: 50%;
    transform: translate(-50%, -93%); 
    -webkit-transform: translate(-50%, -93%); 
    -moz-transform: translate(-50%, -93%); 
    -o-transform: translate(-50%, -93%); }
.about .about_txt{height: 400px; display: table;text-align: center;}
.about .about_txt ul{display: table-cell; vertical-align: middle;}
.about .about_txt ul li:first-child{font-size: 46px; color:#222; font-weight: 400; letter-spacing: 20px; margin-bottom:0.5%;}
.about .about_txt ul li:nth-child(2), .about .about_txt ul li:nth-child(3){margin-bottom: 0.5%;}
.about .about_txt ul li:nth-child(2) span:nth-child(2), .about .about_txt ul li:nth-child(3) span:nth-child(2){font-size: 16px; color:#222; font-weight: 400; letter-spacing: 1px; margin-right: 1%;}
.about .about_txt ul li:nth-child(2) span:nth-child(3), .about .about_txt ul li:nth-child(3) span:nth-child(3){font-size: 14px; color:#222; font-weight: 400; letter-spacing: 1px; margin-bottom:10%;}
.about .map{width:50%; float: right; padding: 70px 0;}
#map{width:82%; height:260px; background-color: #000; float: right;}


/********************  portfolio 영역  *******************/
.port{position: relative;}
.port .some{width:100%;overflow: hidden; background-color: #000;}
.port .some li{width:100%; height:300px; position: relative; text-align: center;overflow: hidden;}
.port .port_txt{font-size: 46px; background-color: #fff; text-align: center; color:#222; font-weight: 400; letter-spacing: 20px; height:200px; width:100%;  display: table;}
.port .port_txt .port_inner{display: table-cell; vertical-align: middle;}
.port .more {display: table; font-size: 18px; background-color: rgb(243, 243, 243); text-align: center; color:#222; font-weight: 600; letter-spacing: 5px; height:80px; width:100%; cursor: pointer;}
.port .more:hover {background-color:#ffebd9; color:#ff790b; font-weight: 600; }
.port .more .more_inner{display: table-cell; vertical-align: middle;}
.port .some li > div > img{ width:120%; opacity: 0.5;}
.port .some li > div .button{position: absolute; top:75%; left: 50%; background-color: #fff; color:#222; font-weight: bold; font-size: 18px; letter-spacing: 4px; cursor: pointer; padding: 7px 15px 7px 20px; 
    transform: translate(-50%, -83%);
    -webkit-transform: translate(-50%, -83%);
    -moz-transform: translate(-50%, -83%);
    -o-transform: translate(-50%, -83%); 
    display: none;
    z-index: 1111;
}
.port .some .port_bor{ z-index: 111; position: absolute; border:1px solid #fff;   width: 97%; height: 77%; top:50%; left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    display: none;
}
/********************  skills 영역  *******************/
.skills{width:100%; height: 600px;}
.skills_lf{width:43.75%; height:inherit; float: left; text-align: center; display: table;}
.skills_lf .inner > span{font-size: 46px; text-align: center; color:#222; font-weight: 400; letter-spacing: 20px; display: block; margin-bottom: 60px;}
.skills_lf .inner .prev{float: left; margin-left: 50px; cursor: pointer;}
.skills_lf .inner .next{float: right; margin-right: 50px; cursor: pointer;}
.skills_lf .inner{height:auto; display: table-cell; vertical-align: middle; position: relative;}
.skills_lf .inner .skills_li_po{position: relative; position: absolute; top:55%; left: 22%; width:53%; height:68px; overflow: hidden;}
.skills_lf .inner .skills_li_po .skills_wrap{position: absolute; top:0; left: -160px; width:910px;}
.skills_ban li{width: 60px; height: 68px; float: left; margin-left: 100px;}
.skills_ban li:first-child{margin-left:50px;}
.skills_ban li img{width: 100%;}

.skills_rig{width:56.25%; height: inherit; float: right; background-color: #222; display: table; color:#fff;}
.skills_rig .rig_inner{width:inherit; height: inherit; display: table-cell; vertical-align: middle;}
.skills_rig .rig_inner .skills_bor{border:1px solid #fff; width:94%; height: 89%; margin:0 auto;}
.skills_rig .rig_inner .skills_bor .skills_wrap2{width:70%; height: 100%; margin:0 auto; display: table;}
.skills_rig .rig_inner .skills_bor .skills_wrap2 .prog_inner{width:inherit; height: inherit; display: table-cell; vertical-align: middle;}
.skills_rig .rig_inner .skills_bor .skills_wrap2 .skills_prog{width:100%; }
.skills_rig .rig_inner .skills_bor .skills_wrap2 .skills_prog > li {margin-bottom: 20px;}
.skills_rig .rig_inner .skills_bor .skills_wrap2 .skills_prog > li:last-child {margin-bottom: 0px;}
.skills_rig .rig_inner .skills_bor .skills_wrap2 .skills_prog li span{font-size:18px; font-weight: 400;}
.skills_rig .rig_inner .skills_bor .skills_wrap2 .skills_prog .in li{ float: left; }
.skills_rig .rig_inner .skills_bor .skills_wrap2 .skills_prog .in li:first-child{width:89%; }
.skills_rig .rig_inner .skills_bor .skills_wrap2 .skills_prog .in li:first-child > div{padding-top: 10px;}
.skills_rig .rig_inner .skills_bor .skills_wrap2 .skills_prog .in li:last-child{margin:31px 0 0 10px;position: relative;}
.skills_rig .rig_inner .skills_bor .skills_wrap2 .skills_prog .in li:last-child span{position: absolute;}
.skills_rig .rig_inner .skills_bor .skills_wrap2 .skills_prog li:nth-child(1) .in li:last-child,
.skills_rig .rig_inner .skills_bor .skills_wrap2 .skills_prog li:nth-child(2) .in li:last-child{left: -90%; opacity: 0;}
.skills_rig .rig_inner .skills_bor .skills_wrap2 .skills_prog li:nth-child(3) .in li:last-child{left: -90%; opacity: 0;}
.skills_rig .rig_inner .skills_bor .skills_wrap2 .skills_prog li:nth-child(4) .in li:last-child{left: -90%; opacity: 0;}
.skills_rig .rig_inner .skills_bor .skills_wrap2 .skills_prog li:nth-child(5) .in li:last-child,
.skills_rig .rig_inner .skills_bor .skills_wrap2 .skills_prog li:nth-child(6) .in li:last-child{left: -90%; opacity: 0;}

.skills_rig .rig_inner .skills_bor .skills_wrap2 .skills_prog .in li .prog{width:auto;}

.prog_inner1, .prog_inner4 {background: linear-gradient( to right, #00ffcc, #03c5fd ); color:#00ffcc; display: inline-block;}
.prog_inner2, .prog_inner5 {background: linear-gradient( to right, #03c5fd, #ae00ff ); color:#03c5fd;}
.prog_inner3, .prog_inner6 {background: linear-gradient( to right, #ae00ff, #ff6868 ); color:#ae00ff;}
.prog_inner1{width:0;}
.prog_inner2{width:0;}
.prog_inner3{width:0;}
.prog_inner4{width:0;}
.prog_inner5{width:0;}
.prog_inner6{width:0;}

/********************  special note 영역  *******************/
.special{
    height: 100%;
    background-image: url("../img/bot_img.jpg");
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-attachment: fixed;
    
  }
  .special{position: relative; margin-bottom: 60px; overflow: hidden;}
  .special span{font-size: 50px; text-align: center; color:#fff; font-weight: 500; letter-spacing: 15px;  display: block; padding:80px 0;}
  .special .mac{max-width:789px; min-width: 500px; height:460px; position: absolute; top:230px; left: 0; opacity: 0;}
  .special .mac img{width:100%;}
  .special div{float: left;}
 
  .special .note_opa{background-color: #000; opacity: 0.2; height: 680px; width: 545px; }
  .special .note_bor{border: 2px solid #fff; position: relative; position: absolute; bottom: -681px; right:22.5%;}
  .special .note_bor p{position: absolute; top:60px; left: 50px; color:#fff; font-size: 16px; font-weight: 400; letter-spacing: 2px; line-height: 40px; text-align: right; z-index: 111;}
  .special .note_side{position: absolute; bottom: -2px; right:-18px;;}

  /********************  footer 영역  *******************/
  .foot{width:50%; margin:0 auto 60px auto; text-align: center; font-size: 16px; color:#222; font-weight: 400; overflow: hidden;}
  .foot .foot_logo {display: block; margin: 30px auto;}
  .foot .foot_list{display: inline-block;}
  .foot .foot_list li{float: left;}
  .foot .foot_list li:nth-child(even){font-size:12px; margin:3px 15px;}
  .foot .foot_list li:nth-child(odd){letter-spacing: 1px; cursor: pointer;}
  .foot .foot_list li:nth-child(odd):hover{color:#f3b47f;}

/********************  modal 영역  *******************/