@import 'base.css';

video {
    position: absolute;
    top: -151px;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
}
header{color:#fff; height: 1130px;  position: relative;}
.wrap{padding: 50px; }
.wrap .top_menu .fas{margin-right:30px; font-size: 20px; cursor: pointer;}
.wrap .top_menu li{float: left;}
.wrap .top_menu .logo{padding-top:3px; cursor: pointer;}
.wrap .top_menu .logo .logo_txt{font-size: 20px; line-height: 0; }
.wrap .top_menu .logo .logo_txt .logo_b{font-weight: 900;}
.wrap .main_txt .title{font-size: 60px; font-weight: 600; margin:385px 0 10px 0; letter-spacing: -2px;}
.wrap .main_txt .title .point_txt{color:#f3b47f;}
.wrap .main_txt .sub_title{font-size: 16px; margin-bottom: 40px; letter-spacing: 10px;}
.wrap .main_txt .cont_btn a{
    padding: 12px 20px 12px 20px; 
    background-color: #fff; 
    color:#000; 
    font-size: 16px; 
    letter-spacing: 4px; 
    font-weight: 500;
}
.sub_menu{
    background-color: #fff; 
    width:300px; 
    height: 100%;
    position: relative; 
    position: absolute; 
    top:0; 
    left: -300px; 
    transform: translate(-300px, -0);
    -webkit-transform: translate(-300px, -0);
    -moz-transform: translate(-300px, -0);
    -o-transform: translate(-300px, -0);
}
.sub_menu .sub_logo{height:15%;}
.sub_menu .sub_logo img{position: absolute; top:5%; left:50%; transform: translate(-50%, -5%);}
.sub_menu .sub_menu_lists{width: inherit; height: 484.5px; background-color: #eee; }
.sub_menu .sub_menu_lists .sub_menu_list li {font-size: 16px; color:#222; margin:19% 0 0 25%; letter-spacing: 2px; cursor: pointer; display: inline-block;}
.sub_menu .sub_menu_lists .sub_menu_list li:hover{color: #f3b47f;}
/*.sub_menu .sub_menu_lists .sub_menu_list li span{padding-top:10px;}*/
.sub_menu .sub_menu_lists .sub_menu_list li div{display: inline-block; margin-right:10px;}
.sub_menu .sub_menu_lists .sub_menu_list li .menu_icon{width:20px; height: 20px;}
.sub_menu .sub_menu_lists .sub_menu_list li .menu_icon img{width:100%;}
.menu_close{
    position: absolute; 
    top:6.2%; 
    right: -16.5%; 
    transform: translate(-16.5%, -6.2%); 
    -webkit-transform: translate(-16.5%, -6.2%); 
    -moz-transform: translate(-16.5%, -6.2%); 
    -o-transform: translate(-16.5%, -6.2%); 
    cursor: pointer;
}


section{width:100%;}

/********************  about me 영역  *******************/
.about{width: 100%;}
.about .about_txt{width:50%; float: left;}
.about .about_txt ul li img{margin-right:5px;}
.about .keyword{position: absolute; top:0; left: 50%; width:350px; height:500px;  z-index: 1;
    transform: translateX(-50%); 
    -webkit-transform: translateX(-50%); 
    -moz-transform: translateX(-50%); 
    -o-transform: translateX(-50%); }
.about .keyword img{
    position: absolute;
    top:1041px;
    left: 50%;
    transform: translateX(-50%); 
    -webkit-transform: translateX(-50%); 
    -moz-transform: translateX(-50%); 
    -o-transform: translateX(-50%); 
    width:100%;
}
.about .keyword span{
    color:#111;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    top:1085px;
    left: 50%;
    transform: translateX(-50%); 
    -webkit-transform: translateX(-50%); 
    -moz-transform: translateX(-50%); 
    -o-transform: translateX(-50%); 
}

.about .keyword .keword_box{
    position: relative;
    position: absolute;
    top: 1150px;
    left: 50%;
    transform: translateX(-50%); 
    -webkit-transform: translateX(-50%); 
    -moz-transform: translateX(-50%); 
    -o-transform: translateX(-50%); 
    font-size: 20px;
    color:#fff;
    font-weight: 400;
    text-align: center;
    letter-spacing:2px;
    padding:10px 7px;
    width:260px;
    height: 350px;
}
.about .keyword .keword_box li{padding:10px 7px; border-radius: 7px; float: left; display: table-cell; vertical-align: middle;}
.about .keyword .keword_box .box1{width:110px; background-color: #488aff;position: absolute;  top:5%; left: 8%;
    transform: translate(-8%, -5%); 
    -webkit-transform: translate(-8%, -5%); 
    -moz-transform: translate(-8%, -5%); 
    -o-transform: translate(-8%, -5%); }
.about .keyword .keword_box .box2{width:110px; background-color: #32db64; position: absolute;  top:5%; left: 93%;
    transform: translate(-93%, -5%); 
    -webkit-transform: translate(-93%, -5%); 
    -moz-transform: translate(-93%, -5%); 
    -o-transform: translate(-93%, -5%); }
.about .keyword .keword_box .box3{width:130px; background-color: #f53d3d; position: absolute; top:27%; left: 50%;
    transform: translate(-50%, -27%); 
    -webkit-transform: translate(-50%, -27%); 
    -moz-transform: translate(-50%, -27%); 
    -o-transform: translate(-50%, -27%); }
.about .keyword .keword_box .box4{width:200px; background-color: #222; position: absolute; top:49%; left: 50%;
    transform: translate(-50%, -49%); 
    -webkit-transform: translate(-50%, -49%); 
    -moz-transform: translate(-50%, -49%); 
    -o-transform: translate(-50%, -49%); }
.about .keyword .keword_box .box5{width:130px; background-color: #32db64; position: absolute; top:71%; left: 3%;
    transform: translate(-3%, -71%); 
    -webkit-transform: translate(-3%, -71%); 
    -moz-transform: translate(-3%, -71%); 
    -o-transform: translate(-3%, -71%); }
.about .keyword .keword_box .box6{width:110px; background-color: #488aff; position: absolute; top:71%; left: 100%;
    transform: translate(-100%, -71%); 
    -webkit-transform: translate(-100%, -71%); 
    -moz-transform: translate(-100%, -71%); 
    -o-transform: translate(-100%, -71%); }
.about .keyword .keword_box .box7{width:170px; background-color: #488aff; position: absolute; top:93%; left: 50%;
    transform: translate(-50%, -93%); 
    -webkit-transform: translate(-50%, -93%); 
    -moz-transform: translate(-50%, -93%); 
    -o-transform: translate(-50%, -93%); }
.about .about_txt{height: 400px; display: table;text-align: center;}
.about .about_txt ul{display: table-cell; vertical-align: middle;}
.about .about_txt ul li:first-child{font-size: 46px; color:#222; font-weight: 400; letter-spacing: 20px; margin-bottom:0.5%;}
.about .about_txt ul li:nth-child(2), .about .about_txt ul li:nth-child(3){margin-bottom: 0.5%;}
.about .about_txt ul li:nth-child(2) span:nth-child(2), .about .about_txt ul li:nth-child(3) span:nth-child(2){font-size: 16px; color:#222; font-weight: 400; letter-spacing: 2px; margin-right: 1%;}
.about .about_txt ul li:nth-child(2) span:nth-child(3), .about .about_txt ul li:nth-child(3) span:nth-child(3){font-size: 14px; color:#222; font-weight: 400; letter-spacing: 1px; margin-bottom:10%;}
.about .map{width:50%; float: right; padding: 70px 0;}
#map{width:82%; height:260px; background-color: #000; float: right;}


/********************  portfolio 영역  *******************/
.port{position: relative;}
.box_wrap{position: absolute; top:50%; left: 72%;
    transform: translate(-72%, -50%);
    -webkit-transform: translate(-72%, -50%);
    -moz-transform: translate(-72%, -50%);
    -o-transform: translate(-72%, -50%); 
}
.port .some{float: left; width:56.25%;}
.port .some > li{width:100%; position: relative; text-align: center; float: left;}
.port .port_txt{font-size: 46px; text-align: center; color:#222; font-weight: 400; letter-spacing: 20px; float: right; width:43.75%;  }
.port .some li > div{background-color: #000; overflow: hidden;}
.port .some li > div > img{opacity: 0.8; width:100%;}
.port .some li > div > img:hover{opacity: 0.5; -webkit-transform:scale(1.03);transform:scale(1.03); -webkit-transition:all 0.5s ease;transition:all 0.5s ease;}
.port .some li > div .button{position: absolute; top:80%; left: 50%; background-color: #fff; color:#222; font-weight: bold; font-size: 18px; letter-spacing: 4px; cursor: pointer; padding: 7px 15px 7px 20px; 
    transform: translate(-50%, -80%);
    -webkit-transform: translate(-50%, -80%);
    -moz-transform: translate(-50%, -80%);
    -o-transform: translate(-50%, -80%); 
    display: none;
}
.port .some .bor{position: absolute; border:1px solid #fff; width: 95%; height: 80%; top:50%; left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);}

/********************  skills 영역  *******************/
.skills{width:100%; height: 600px; }
.skills_lf{width:43.75%; height:inherit; float: left; text-align: center; display: table;}
.skills_lf .inner > span{font-size: 46px; text-align: center; color:#222; font-weight: 400; letter-spacing: 20px; display: block; margin-bottom: 60px;}
.skills_lf .inner .prev{float: left; margin-left: 50px; cursor: pointer;}
.skills_lf .inner .next{float: right; margin-right: 50px; cursor: pointer;}
.skills_lf .inner{height:auto; display: table-cell; vertical-align: middle; position: relative;}
.skills_lf .inner .skills_li_po{position: relative; position: absolute; top:55%; left: 22%; width:450px; height:68px; overflow: hidden;}
.skills_lf .inner .skills_li_po .skills_wrap{width:117%; position: absolute; top:0; left: 0; width:750px;}
.skills_ban li{width: 60px; height: 68px; float: left; margin-left: 100px;}
.skills_ban li:first-child{margin-left:50px;}
.skills_ban li img{width: 100%;}

.skills_rig{width:56.25%; height: inherit; float: right; background-color: #222; display: table; color:#fff;}
.skills_rig .rig_inner{width:inherit; height: inherit; display: table-cell; vertical-align: middle;}
.skills_rig .rig_inner .skills_bor{border:1px solid #fff; width:94%; height: 89%; margin:0 auto;}
.skills_rig .rig_inner .skills_bor .skills_wrap{width:70%; height: 100%; margin:0 auto; display: table;}
.skills_rig .rig_inner .skills_bor .skills_wrap .prog_inner{width:inherit; height: inherit; display: table-cell; vertical-align: middle;}
.skills_rig .rig_inner .skills_bor .skills_wrap .skills_prog{width:100%;}
.skills_rig .rig_inner .skills_bor .skills_wrap .skills_prog > li {margin-bottom: 20px;}
.skills_rig .rig_inner .skills_bor .skills_wrap .skills_prog > li:last-child {margin-bottom: 0px;}
.skills_rig .rig_inner .skills_bor .skills_wrap .skills_prog li span{font-size:18px; font-weight: 400;}
.skills_rig .rig_inner .skills_bor .skills_wrap .skills_prog .in li{ float: left;}
.skills_rig .rig_inner .skills_bor .skills_wrap .skills_prog .in li:first-child{width:89%;}
.skills_rig .rig_inner .skills_bor .skills_wrap .skills_prog .in li:first-child > div{padding-top: 10px;}
.skills_rig .rig_inner .skills_bor .skills_wrap .skills_prog .in li:last-child{margin:31px 0 0 10px;}

.prog_inner1, .prog_inner4 {background: linear-gradient( to right, #00ffcc, #03c5fd ); color:#00ffcc;}
.prog_inner2, .prog_inner5 {background: linear-gradient( to right, #009cff, #ae00ff ); color:#009cff;}
.prog_inner3, .prog_inner6 {background: linear-gradient( to right, #942bff, #ff6868 ); color:#942bff;}

.prog_inner1{width:90%;}
.prog_inner2{width:90%;}
.prog_inner3{width:40%;}
.prog_inner4{width:30%;}
.prog_inner5{width:65%;}
.prog_inner6{width:65%;}

/********************  special note 영역  *******************/
.special{background-image: url()}